# Ignore node_modules directories
/client/node_modules/
/node_modules/

# Ignore build output
/build

# Ignore coverage output
/coverage

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
